# Kaggle Files
**/data/*csv

# Byte-compiled / optimized / DLL files
**/__pycache__
**/.pytest_cache
catboost_info
.venv

# Logs
*.log

# Hyper opt models and studies
results/hyper_*/*.pkl
results/study_*/*.db

# Temporary files
temp/*.csv
